ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: bisque;

}

li {
    margin: 10px 0;
}

label {
    font-weight: bold;
    color : purple;
    font-family:italic ;
}
